/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #597db9;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #2b789c;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #0b8b3e;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

  .table ion-row{

    padding: 10px 5px;
    font-size: 16px;

  }

.table ion-row:nth-child(even) {
  background: rgba(235, 234, 234, 0.747)
}
.table ion-row:nth-child(odd) {
  background: #FFF
}
.table ion-row:first-child{
  font-weight: bold;
  text-transform: uppercase;
}


.md.title-default {
 font-size: 30px;
 font-weight: bold;
 padding-bottom: 20px;
}
.md ion-card{

  background-color: #00ff4033;
  padding-top: 15px;


}

.divService .sc-ion-input-md {
  height: 70px;
}

.sc-ion-alert-md-h {
  --min-width: 350px;
}

.alert-wrapper.sc-ion-alert-md{
   display: inline;
  width: 100%;
  height: 9000px;
  background-image: url("../images/1542979115888.jpg");
  background-repeat: no-repeat;
 background-size: cover;
 

 

}



.alert-title.sc-ion-alert-md {
  color: #afafaf;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 2px 2px 9px black;
  margin-top: 50px;
  text-align: center;
}
.alert-sub-title.sc-ion-alert-md {
  color: #fff;
  font-size: 25px;
  text-shadow: 2px 2px 5px black;
  margin-top: 100px;
  font-weight: 600;
    text-align: center;
}

.alert-message.sc-ion-alert-md {
  max-height: 266px;
  font-size: 16px;
  margin-top: 100px;
  color: #fffbfb;
  font-weight: 800;
  text-align: center;
  text-shadow: 2px 5px 4px black;
}

.alert-button-inner.sc-ion-alert-md {
  -ms-flex-pack: end;
  justify-content: center;
  text-align: center;
  margin-top: 5px;
  font-weight: 900;
  font-size: large;
  color: #1439eb;
  text-shadow: 1px 1px 10px #d9c5c5;
}